* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* -------------------------------------------------------pre----------------- */
.dautrang {
  padding: 10px;
  background-color: #d9eafd;
  font-style: italic;
  font-weight: bolder;
}
/* để không hiện gạch dưới  */
/* ------------------------nav---------------------- */
nav {
  background-color: #578fca;
}
.container {
  max-width: 1500px;
  margin: auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding: 0px;
}
nav ul li a {
  color: black;
}
nav ul li:nth-child(4) input {
  outline: none;
  border-radius: 10px;
  height: 30px;
  width: 240px;
  background-color: #d9eafd;
}
nav ul li:nth-child(5) button:hover {
  color: rgb(67, 77, 81);
}
nav ul li:nth-child(5) button {
  border: 0cm;
  background-color: #578fca;
}
nav ul li:nth-child(6) button:hover {
  color: rgb(67, 77, 81);
}
nav ul li:nth-child(6) button {
  border: 0cm;
  background-color: #578fca;
}
nav ul li:nth-child(7) button:hover {
  color: rgb(67, 77, 81);
}
nav ul li:nth-child(7) button {
  background-color: #578fca;
  border: 0cm;
}
nav ul li:nth-child(8) button:hover {
  color: rgb(67, 77, 81);
}
nav ul li:nth-child(8) button {
  border: 0cm;
  background-color: #578fca;
}
nav ul li:nth-child(1) img {
  width: 65px;
  margin-left: 20px;
}

nav ul li:nth-child(2) {
  padding-left: 50px;
}
nav ul li:nth-child(2) button {
  background-color: #578fca;
  padding: auto;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  height: 42px;
  width: 120px;
}
nav ul li:nth-child(2) a i {
  padding-left: 10px;
}
nav ul li:nth-child(3) {
  background-color: #578fca;
  padding: auto;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  height: 42px;
  width: 120px;
}
nav ul li:nth-child(3) a button {
  background-color: #578fca;
  padding: auto;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  height: 42px;
  width: 120px;
}
nav ul li:nth-child(3) i {
  font-size: 24px;
  padding-left: 10px;
}

/* ------------------------------------noidungtrang--------------------------------- */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  margin-top: 10px;
}

.div1 {
  border-radius: 10px;
  border-color: #39679c;
  background-color: #ffffff;
  border: 1px solid;
  box-shadow: 2px 2px 2px #acaaaa;
  margin-left: 150px;
  max-width: 210px;
  max-height: auto;
  width: 150px;
}
.div1 ul li {
  padding: 15px;
}
.div1 ul li {
  position: relative;
}

.div1 ul li a {
  display: block;
  padding-right: 25px;
  position: relative;
  color: rgb(16, 10, 16);
  text-decoration: none;
}

.div1 ul li a i:nth-child(2) {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.div1 ul li a:hover {
  color: #39679c;
}
.div1 ul li:hover {
  background-color: rgb(194, 187, 187);
  border-radius: 10px;
}

.div2 {
  border-radius: 10px;
  border-color: #39679c;
  background-color: #ffffff;
  border: 1px solid;
  box-shadow: 2px 2px 2px #acaaaa;
  width: 700px;
  position: relative;
}

.div3 {
  border-radius: 10px;
  border-color: #39679c;
  background-color: #ffffff;
  border: 1px solid;
  box-shadow: 2px 2px 2px #acaaaa;
  margin-right: 150px;
  width: fit-content;
  height: fit-content;
}

.div4 {
  border-radius: 10px;
  border-color: #39679c;
  background-color: #ffffff;
  border: 1px solid;
  box-shadow: 2px 2px 2px #acaaaa;
  margin-right: 150px;
  width: fit-content;
  height: fit-content;
}

.div5 {
  border-radius: 10px;
  border-color: #39679c;
  background-color: #ffffff;
  border: 1px solid;
  box-shadow: 2px 2px 2px #acaaaa;
  margin-right: 150px;
  width: fit-content;
  height: fit-content;
}
/* ----------------------------chinh-anh---------------------- */
.anh-slide {
  border: 0px;
  border-radius: 10px;
}
.slider-item {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

/* ------------------------------div2--------------------------- */
.slider-container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.slide.active {
  opacity: 1;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 35px;
}

.nav-item {
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 3px solid transparent;
  font-size: 14px;
  color: #444;
}

.nav-item.active {
  border-bottom: 3px solid #39679c;
  color: black;
  font-weight: bold;
}
/* ----------------------an-nut-danh-muc */
